<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Генератор паролів</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="navbar">
            <a href="{{ url_for('index') }}">Головна</a>
            <a href="{{ url_for('logout') }}">Вийти</a>
        </div>    
    </header>
    <main class="section">
        <div class="content-page">
            <div class="generator-content">
                <h1 class="passord-header">Генератор паролів</h1>
                <form class="generate-form" method="post">
                    <div class="form-first-group">
                        <label class="form-label" for="min_length">Мінімальна довжина:</label>
                        <input class="form-input" type="number" id="min_length" name="min_length" value="8" min="1" required>  
                        <label class="form-label" for="max_length">Максимальна довжина:</label>
                        <input class="form-input" type="number" id="max_length" name="max_length" value="16" min="1" required>    
                    </div>
                    <div class="form-group">
                        <div class="check-box">
                            <input class="form-input-check" type="checkbox" id="include_lowercase" name="include_lowercase" value="true">
                            <label class="form-label" for="include_lowercase">Включити малі літери</label>    
                        </div>
                        <div class="check-box">
                            <input class="form-input-check" type="checkbox" id="include_uppercase" name="include_uppercase" value="true">
                            <label class="form-label" for="include_uppercase">Включити великі літери</label>
                        </div>
                        
                        <div class="check-box">
                            <input class="form-input-check" type="checkbox" id="include_digits" name="include_digits" value="true">
                            <label class="form-label" for="include_digits">Включити цифри</label>    
                        </div>
                        
                        <div class="check-box">
                            <input class="form-input-check" type="checkbox" id="include_special_characters" name="include_special_characters" value="true">
                            <label class="form-label" for="include_special_characters">Включити спеціальні символи</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="" type="submit" value="Згенерувати">
                    </div>
                </form>
            </div>  
            <div class="second-div">
                <div class="password-div">
                <!-- Відображення згенерованого пароля -->
                {% if generated_password %}
                    <h1 class="passord-header">Згенерований пароль</h1>
                    <input class="generate-input" type="text" value="{{ generated_password }}" readonly>
                {% endif %}
            </div>
            <div style="overflow: auto" class="table-div">
                <table class="table-set">
                    <tr>
                        <th class="table-title">Попередні паролі</th>
                        <th class="table-title">Дата створення</th>
                    </tr>
                    {% for password in passwords %}
                    <tr>
                        <td class="table-column">{{ password.plain_password }}</td>
                        <td class="table-column">{{ password.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        </div>   
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Отримуємо всі чекбокси та інпути
            const inputs = document.querySelectorAll('.form-input, .form-input-check');
    
            // Перевіряємо локальне сховище на наявність даних
            const storedData = JSON.parse(localStorage.getItem('formData')) || {};
    
            // Відновлюємо значення чекбоксів та інпутів з локального сховища
            inputs.forEach(input => {
                if (storedData[input.id]) {
                    // Якщо це чекбокс, встановлюємо стан
                    if (input.type === 'checkbox') {
                        input.checked = storedData[input.id];
                    } else { // Інакше - встановлюємо значення
                        input.value = storedData[input.id];
                    }
                }
            });
    
            // Зберігаємо значення чекбоксів та інпутів у локальному сховищі після кожної зміни
            inputs.forEach(input => {
                input.addEventListener('input', function() {
                    // Якщо це чекбокс, зберігаємо стан
                    if (input.type === 'checkbox') {
                        storedData[input.id] = input.checked;
                    } else { // Інакше - зберігаємо значення
                        storedData[input.id] = input.value;
                    }
                    localStorage.setItem('formData', JSON.stringify(storedData));
                });
            });
        });
    </script>
</body>
</html>
